<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAR8fVSWq7mo9RLvA_scso440uRdnWau7w</string>
	<key>GCM_SENDER_ID</key>
	<string>845099345835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locallanguagesapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>locallanguagesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>locallanguagesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845099345835:ios:098b61ed430d52aad194ee</string>
</dict>
</plist>